@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,300;0,700;1,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: rgb(255, 173, 163);
    height: 500px;
    min-width: 460px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    *flex-direction: column;

    
}

.titulo-perfil{
    font-size: 15px;
    font-family: 'Poppins';
    font-weight: 400;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.info{
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 400px;
    height: 180px;
    padding: 10px;
    font-size: 16px;
    margin: 15px;
    box-shadow: 11px 15px 29px -9px rgba(224,20,20,0.4);
-webkit-box-shadow: 11px 15px 29px -9px rgba(224,20,20,0.4);
-moz-box-shadow: 11px 15px 29px -9px rgba(224,20,20,0.4);


}
.iconos{
    *background-color: red;
    display: flex;
    justify-content:center;
    margin-top: 430px;
    position: absolute;
    gap: 20px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}
img{
    width: 30px;

}
.contacto ul{
    width: 200px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    list-style: none;
}
h3{
    font-size: 20px;
    
}
.resto-info{
    height: 450px;
    min-width: 460px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding: 40px;
    background-color: bisque;
    font-family: 'Poppins';

}
.formacion{
    padding: 0;
    *background-color: red;
    
}
.form1{
    list-style: none;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.boot{
    margin-top: 40px;
    font-size: 22px;
}
.form2{
    list-style: none;
    font-size: 18px;

}
.curso{
    margin-top: 40px;
    font-size: 22px;
}
.form3{
    list-style: none;
    font-size: 18px;
}
/* .skills{
    background-color: rgb(244, 157, 126);
    height: 500px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    font-family: 'Poppins';
}

h1


.form4{
    padding: 20px;

} */
.skl{
    background-color:grey;
    height: 450px;
    min-width: 460px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    font-family: 'Poppins';
    color: #fff;

}

/* .skills1{

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: red;
} */
.formacion1{
    margin-top: 45px;
}
.perfil{
    display: none;
}

@media screen and (min-width:992px) {
    .container{
        width:100%;
        height: 800px;
        display: flex;
        flex-direction: row;

    }
    .titulo-perfil{
        display: flex;
        font-size: 22px;
        
        

    }
    .info{
        display: flex;
        width: 850px;
        margin-top: 20px;
        flex-direction: row;
        font-size: 22px;
        
        
    }
    .contacto ul{
        font-size: 23px;
        width: 400px;
    }
    .perfil{
        display: block;
        width: 210px;
        height: 248px;
        border-radius: 50px;
        padding: 10px;
        
    }
    .iconos{
        margin-top: 730px;
        
        
    }
    .resto-info{
        width:100%;
        height: 450px;
        display: flex;
        flex-direction: row;
        font-size: 22px;
    }
    .skl{
        width:100%;
        height: 500px;
        display: flex;
        flex-direction: row;
        font-size: 22px;
        
    }
    /* .container3{
        background-color: red;
        display: flex;
        flex-direction: row;
        padding: 40px;
        margin-top: 50px;
        gap: 55px;

    }
    .form2-1{
        list-style: none;
        display: flex;
        margin-top: 180px;
        
    } */

    img{
        width: 45px;
    }
    .boot{
        font-size: 30px;
    }
    .curso{
        font-size: 30px;
    }
    .form1{
        font-size: 23px;
    }
    .form2{
        font-size: 25px;

    }
    .form3{
        font-size: 25px;
    }
}

